<?xml version="1.0" ?>
<settings version="1">
    <level>0</level>
	<section id="script.subtitles.zimukux">
		<category id="general" label="30100" help="">
			<group id="1" label="">
                <setting id="ZiMuKuUrl" type="string" label="30101" help="">
                	<level>0</level>
					<control type="edit" format="string">
						<heading>30101</heading>
					</control>
                	<default>http://zimuku.org</default>
                	<constraints>
                		<allowempty>false</allowempty>
                	</constraints>
                </setting>
			</group>
		</category>
		<category id="subpref" label="30200" help="">
			<group id="1" label="">
				<setting id="subtype" type="string" label="30210" help="">
					<level>0</level>
					<control type="list" format="string">
						<heading>30210</heading>
					</control>
					<default>none</default>
					<constraints>
						<options>
							<option label="30211" id="none">none</option>
							<option label="30212" id="ass">ass</option>
							<option label="30213" id="srt">srt</option>
						</options>
					</constraints>
				</setting>
				<setting id="sublang" type="string" label="30220" help="">
					<level>1</level>
					<control type="list" format="string">
						<heading>30220</heading>
					</control>
					<default>none</default>
					<constraints>
						<options>
							<option label="30221" id="none">none</option>
							<option label="30222" id="chs">chs</option>
							<option label="30223" id="cht">cht</option>
							<option label="30224" id="dualchs">dualchs</option>
							<option label="30225" id="dualcht">dualcht</option>
						</options>
					</constraints>
				</setting>
			</group>
		</category>
	</section>
</settings>